body {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    font-family: 'Roboto', sans-serif;
    color: #eaac8b;
    text-align: center;
    line-height: 1;
    font-size: 16pt;
    }
  
  main {
    background: rgba(255, 255, 255, 0.8)
  }
  
  p{ 
    text-align: center;
    /* display: none */
  }
  
  #head {
    color:blue;
    font-family: monospace;
    text-shadow: 2px 2px 5px greenyellow;
  }
  
  .blue-border {
    border: 2px solid gold
  }